body {
	background-color: #d1dac0;
	margin: 0;
}

.header {
	padding: 40px;
	background-color: #363333;
	position: relative;
}

h1 {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	background: linear-gradient(to right, #8dc3a7 0%, #358873 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 {
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	margin-left: 8px;
	margin-right: 8px;
}

#bio:hover {
	color: #f23f3f;
	transition: 1s;
}

#pengalaman:hover {
	color: #10cc1d;
	transition: 1s;	
}

table, th, td {
	padding: 2px;
	border: 1px solid black;
	border-collapse: collapse;
}

th,td {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
}

table {
	width: 99%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

th {
	background-color: #cfa15b;
}

#smakbo {
	position: absolute;
	top: 45px;
	right: 30px;
	width: 2.5cm;
	height: 2.5cm;
}

#ivan {
	width: 150px;
	height: 200px;
	border: 2px solid black;
}

p {
	font-family: "Times New Roman", Times, serif;
	text-align: justify;
	text-indent: 0.5in;
	font-size: 18px;
	margin-left: 8px;
	margin-right: 8px;
}